Olá, <strong>{{{ deliveryman }}}</strong>.
<p>A encomenda com o id {{{delivery_id}}} foi cancelada. Segue abaixo informações da encomenda e o problema que motivou seu cancelamento:</p>
<p>
    <strong>Nome do produto:</strong> {{{ product_name }}}<br />
    <strong>Nome do cliente:</strong> {{{ recipient_name }}}<br />
    <strong>Motivo do cancelamento:</strong> {{{problem_description}}}<br />
</p>
<p>Esta encomenda será removida da sua lista de entregas.</p>
